{# Act One After Introduction Logic #}
{% macro choice_one() %}
{{ choice_one.question }}
1. {{ choice_one.options.id_1.text }}
2. {{ choice_one.options.id_2.text }}
3. {{ choice_one.options.id_3.text }}
{% endmacro %}

{% set after_intro = af_intros.values() | list | random %}

{{ scenario.format(
    place=place, 
    item=item,
    coice=choice()
    ) }}